* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hero {
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: white;
  border: 1px solid red;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}
nav .menu-img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}
nav .logo {
  width: 160px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  color: white;
}
button {
  background-color: #efefef;
  height: 30px;
  width: 60px;
  /* padding: 10px 20px; */
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button span {
  display: block;
  background-color: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
  transition: background-color 0.3s, margin-left 0.5s;
}
.lamp-container {
  position: absolute;
  top: -20px;
  left: 22%;
  width: 200px;
}
.lamp {
  width: 100%;
}
.light {
  position: absolute;
  /* top: 100%; */
  top: 97%;
  left: 50%;
  transform: translate(-50%);
  width: 700px;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.text-content {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}
.text-content h1 {
  font-size: 80px;
  font-weight: 400;
}
.control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}
.control .line {
  width: 250px;
  height: 4px;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 2px;
}
.control .line span {
  width: 50%;
  height: 8px;
  margin-top: -2px;
  border-radius: 4px;
  background-color: #00986f;
  display: block;
}
.active {
  background-color: #00986f;
}
.active span {
  background-color: #fff;
  margin-left: 31px;
}
.on {
  opacity: 1;
}
